[project]
name = "django-solomon"
description = "A Django app for passwordless authentication using magic links."
authors = [{ name = "Oliver Andrich", email = "oliver@andrich.me" }]
readme = "README.md"
license = { file = "LICENSE" }
keywords = ["django"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
    "Topic :: Utilities",
    "Environment :: Web Environment",
    "Framework :: Django :: 4.2",
    "Framework :: Django :: 5.0",
    "Framework :: Django :: 5.1",
    "Framework :: Django :: 5.2",
]
dynamic = ["version"]
requires-python = ">=3.10"
dependencies = [
    "django>=4.2",
    "mjml-python>=1.3.5",
]

[project.urls]
Home = "https://django-solomon.rtfd.io/"
Documentation = "https://django-solomon.rtfd.io/"
Repository = "https://codeberg.org/oliverandrich/django-solomon"

[dependency-groups]
dev = [
    "pytest-cov>=5.0.0",
    "pytest-django>=4.9.0",
    "pytest-mock>=3.14.0",
    "pytest-randomly>=3.15.0",
    "pytest>=8.3.3",
    "django-stubs[compatible-mypy]>=5.1.1",
]

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"

# mypy
[tool.mypy]
python_version = "3.10"
plugins = ["mypy_django_plugin.main"]

[tool.django-stubs]
django_settings_module = "tests.settings"
strict_settings = false

# Ruff
[tool.ruff]
target-version = "py310"
line-length = 120

[tool.ruff.format]
exclude = ["**/migrations/*"]

[tool.ruff.lint]
select = [
    "A", # flake8-builtins
    "ARG", # flake8-unused-arguments
    "B", # flake8-bugbear
    "C4", # flake8-comprehensions
    "DJ", # flake8-django
    "E", # pycodestyle
    "F", # pyflakes
    "FBT", # flake8-boolean-trap
    "N", # pep8-naming
    "Q", # flake8-quotes
    "TID", # flake8-tidy-imports
    "W", # pycodestyle
    "YTT", # flake8-2020
]
ignore = [
    # Allow non-abstract empty methods in abstract base classes
    "B027",
    # Allow boolean positional values in function calls, like `dict.get(... True)`
    "FBT003",
    # Ignore complexity
    "C901",
]
unfixable = [
    # Don't touch unused imports
    "F401",
    # Don't touch unused variables
    "F841",
]

[tool.ruff.lint.isort]
known-first-party = ["django_solomon"]

[tool.ruff.lint.flake8-tidy-imports]
ban-relative-imports = "all"

[tool.ruff.lint.per-file-ignores]
"tests/**/*" = ["PLR2004", "S101", "TID252", "ARG001", "ARG002", "FBT001", "N806"]
"tests/snapshots/*" = ["ALL"]
"**/migrations/*" = ["ALL"]

# Pytest
[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "tests.settings"
pythonpath = [".", "src"]
testpaths = ["tests"]
filterwarnings = [
    "ignore:In Typer, only the parameter 'autocompletion' is supported.:DeprecationWarning",
]

# Coverage
[tool.coverage.run]
source = ["src"]
branch = true

[tool.coverage.report]
show_missing = true
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if self.debug:",
    "raise NotImplementedError",
    "pass",
    "if __name__ == .__main__.:",
]
omit = ["*/migrations/*", "*/tests/*", "*/conftest.py"]
