@font-face {
  font-family: "iconfont"; /* Project id 4552078 */
  src: url('iconfont.woff2?t=1715956204648') format('woff2'),
       url('iconfont.woff?t=1715956204648') format('woff'),
       url('iconfont.ttf?t=1715956204648') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e610";
}

.icon-youxiang:before {
  content: "\e616";
}

.icon-dianhua:before {
  content: "\e627";
}

.icon-youxiang1:before {
  content: "\e664";
}

.icon-weizhi:before {
  content: "\e61a";
}

.icon-dianhua1:before {
  content: "\e608";
}

.icon-dianhua2:before {
  content: "\e842";
}

.icon-position:before {
  content: "\e60b";
}

.icon-youxiang2:before {
  content: "\e68b";
}

